@import "tailwindcss";

@theme {
  /* sizes */
  --width-full-hd: 1920px;
  --min-width-full-hd: 1920px;
  --max-width-full-hd: 1920px;

  /* background */
  --background-image-home: url("/images/restaurant-inside.webp");

  /* colors */
  --color-primary: rgb(244, 244, 244);
  --color-secondary: rgb(24, 24, 24);

  /* typography */
  --font-primary: "Geist", sans-serif;
  --font-secondary: "Italianno", cursive;
}

body {
  font-family: "Geist", sans-serif;
}
